@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

$primary-color: #4fc3f7;
$secondary-color: #ec407a;
$background-color: whitesmoke;

$default-font-size: 24px;
$default-font-family: 'Roboto', sans-serif;
$default-font-weight: 300;