@import '_variables.scss';

.home {
    background-color: $primary-color;
    color: white;
    min-height: 100vh;

    .content {
        position: absolute;
        top: 30vh;
        left: 60px;
    }

    h1 {
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
    }

    .start-button {
        display: block;
        background-color: $secondary-color;
        width: fit-content;
        padding: 10px;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        margin-top: 40px;

        &:hover {
            filter:brightness(.95);
        }
    }
}