.huge-card {
    /*background-color: white;*/
    padding: 20px;
    margin: 0 auto;
    width: 1200px;
    min-height: 80vh;
    border-bottom-left-radius: 5px;
    /*border-bottom-right-radius: 5px;box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;*/
}